mixin DappletItem(text)
    .dapplet.dapplet-hidden
        .dapplet__main
            .dapplet__icon
                include assets/icons/other/butter.svg
            .dapplet__logo
                img(src="https://i.ytimg.com/vi/I8nlsuwtgCg/maxresdefault.jpg", alt="VALAKAS")
            .dapplet__info
                .dapplet__info-title Ethereum Contracts Example
                .dapplet__info-id 0xC12......E3836
            .dapplet__description=text
            .dapplet__author michael.mitc
            .dapplet__tags
                +TagItem("Twitter", "my")
                +TagItem("Twitter", "my")
                +TagItem("Twitter", "my")
            button.dapplet__button install
        //.dapplet__additional
        //    .dapplet__additional-text
        //    .dapplet__additional-text
        //    .dapplet__additional-text
        //    .dapplet__additional-text
        //    .dapplet__additional-text
        //    .dapplet__additional-text
        //    .dapplet__additional-text
        //    .dapplet__additional-text
        //    .dapplet__additional-text

.content__header
    .content-container
        .content__header-inner
            .content__header-state
                .content__header-icon
                    include assets/icons/header/cloud.svg
                .content__header-text Extension state: <span>Active</span>
            .content__header-settings
                .content__header-icon
                    include assets/icons/header/settings.svg
                .content__header-text Settings

.content__main
    .content-container
        .content__main-inner
            .content__main-menu
                .search
                    .search__icon
                        include assets/icons/other/search.svg
                    input(type="text", placeholder="Search")

                .select
                    select
                        option 1
                        option 2
                    .select__arrow-down
                        include assets/icons/other/arrow down.svg
                .select
                    select
                        option 1
                        option 2
                    .select__arrow-down
                        include assets/icons/other/arrow down.svg
            hr
            .content__main-lists
                .content__main-dapplet
                    .dapplet.dapplet-hidden
                        .dapplet__main
                            .dapplet__icon
                                include assets/icons/other/butter.svg
                            .dapplet__ot
                                .dapplet__logo
                                    img(src="https://i.ytimg.com/vi/I8nlsuwtgCg/maxresdefault.jpg", alt="VALAKAS")
                                .dapplet__info
                                    .dapplet__info-title Ethereum
                                    .dapplet__info-id 0xC12......E3836
                                    .dapplet__info-author michael.mitcfdfgfd
                                .dapplet__button-install
                                    include assets/icons/other/InstallButton.svg
                                .dapplet__button-installed
                                    include assets/icons/other/InstalledButton.svg

                            .dapplet__description Risus risus integer nunc id at augue arcu dolor viverra lacus.
                            .dapplet__author michael.mitcfdfgfd
                            .dapplet__tags
                                +TagItem("Twitter", "my")
                                +TagItem("Twitter", "my")
                                +TagItem("Twitter", "my")
                                +TagItem("Twitter", "my")
                                +TagItem("Twitter", "my")
                            button.dapplet__button install
                .content__main-dapplet
                    .dapplet.dapplet-hidden
                        .dapplet__main
                            .dapplet__icon
                                include assets/icons/other/butter.svg
                            .dapplet__ot
                                .dapplet__logo
                                    img(src="https://i.ytimg.com/vi/I8nlsuwtgCg/maxresdefault.jpg", alt="VALAKAS")
                                .dapplet__info
                                    .dapplet__info-title Ethereum Contracts Examplettttttttttttttttttttttt
                                    .dapplet__info-id 0xC12......E3836
                                    .dapplet__info-author michael.mitcfdfgfd
                                .dapplet__button-install
                                    include assets/icons/other/InstallButton.svg
                                .dapplet__button-installed
                                    include assets/icons/other/InstalledButton.svg
                            .dapplet__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto beatae, consectetur consequuntur debitis laudantium officia pariatur quasi recusandae sed tempore temporibus voluptatem voluptates. Ab blanditiis corporis debitis dolores esse fugiat ipsum, iste magnam numquam odit quisquam rerum sit unde veritatis.
                            .dapplet__author michael.mitc
                            .dapplet__tags
                                +TagItem("Twitter", "my")
                                +TagItem("Twitter", "my")
                                +TagItem("Twitter", "my")
                            button.dapplet__button install
                .content__main-dapplet
                    .dapplet.dapplet-hidden
                        .dapplet__main
                            .dapplet__icon
                                include assets/icons/other/butter.svg
                            .dapplet__ot
                                .dapplet__logo
                                    img(src="https://i.ytimg.com/vi/I8nlsuwtgCg/maxresdefault.jpg", alt="VALAKAS")
                                .dapplet__info
                                    .dapplet__info-title Ethereum Contracts Example
                                    .dapplet__info-id 0xC12......E3836
                                    .dapplet__info-author michael.mitcfdfgfd
                                .dapplet__button-install
                                    include assets/icons/other/InstallButton.svg
                                .dapplet__button-installed
                                    include assets/icons/other/InstalledButton.svg
                            .dapplet__description=text
                            .dapplet__author michael.mitc
                            .dapplet__tags
                                +TagItem("Twitter", "my")
                                +TagItem("Twitter", "my")
                                +TagItem("Twitter", "my")
                            button.dapplet__button install
                .content__main-dapplet
                    .dapplet.dapplet-hidden
                        .dapplet__main
                            .dapplet__icon
                                include assets/icons/other/butter.svg
                            .dapplet__ot
                                .dapplet__logo
                                    img(src="https://i.ytimg.com/vi/I8nlsuwtgCg/maxresdefault.jpg", alt="VALAKAS")
                                .dapplet__info
                                    .dapplet__info-title Ethereum Contracts Example hhhhhhhhhhhhhh
                                    .dapplet__info-id 0xC125543555gkjgkjjh
                                    .dapplet__info-author michael.mitcfdfgfd
                                .dapplet__button-install
                                    include assets/icons/other/InstallButton.svg
                                .dapplet__button-installed
                                    include assets/icons/other/InstalledButton.svg
                            .dapplet__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, ad dolorem pariatur reiciendis rem voluptates!
                            .dapplet__author michael.mitc
                            .dapplet__tags
                                +TagItem("Twitter", "my")
                            button.dapplet__button install
            .content__loading
                .content__loading-text Loading more Dapplets
                .content__loading-line