@font-face {
    font-family: "SF Pro Display Regular";
    src: url("fonts/SF-Pro-Display-Regular.otf") format("opentype");
}

@font-face {
    font-family: "SF Pro Display Bold";
    src: url("fonts/SF-Pro-Display-Bold.otf") format("opentype");
}

@font-face {
    font-family: "SF Pro Display Black";
    src: url("fonts/SF-Pro-Display-Black.otf") format("opentype");
}